
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: transparent;
    z-index: 1000;
}

.logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.3s;
}

.nav-links a:hover {
    opacity: 0.7;
}


.hero {
    height: 100vh;
    background: 
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
        url("fondo.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero-content p {
    margin-bottom: 30px;
    font-size: 18px;
    opacity: 0.8;
}

.btn {
    padding: 12px 25px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.btn:hover {
    background: white;
    color: black;
}


.about {
    padding: 100px 60px;
    text-align: center;
    background: #f5f5f5;
}

.about h2 {
    margin-bottom: 20px;
}


.footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}

.toggle-footer {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
    margin-bottom: 15px;
}

.footer-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.footer-content.active {
    max-height: 200px;
}
